<div class="container">
<h1>Mis Licitaciones</h1>
<p>You can read more about me, or checkout my blog</p>
<!-- <a href="pages/about">About me</a> -->
<div class="container">
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Sistema de gestión de Licitaciones</h5>
    <p class="card-text">El Sistema de Gestión de Licitaciones es una solución tecnológica que permite a las empresas realizar un adecuado seguimiento y control de las Licitaciones públicas Nacionales e Internacionales en las cuales participan.</p>

<%= link_to "Gestionar", pages_dashboard_path, class:"btn btn-primary" %>
  </div>
</div>
</div>
<%= link_to "About Me.", pages_about_path %>
<%= link_to "Dashabord", pages_dashboard_path %>
</div>
