<%= form_with(model: licitacion) do |form| %>
  <% if licitacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(licitacion.errors.count, "error") %> prohibited this licitacion from being saved:</h2>

      <ul>
        <% licitacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
