<div id="<%= dom_id licitacion %>">
  <p>
    <strong>Title:</strong>
    <%= licitacion.title %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= licitacion.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= licitacion.fecha %>
  </p>

</div>
