<p style="color: green"><%= notice %></p>
<div class=container>
<h1>Licitacions</h1>

<div id="licitacions">
  <% @licitacions.each do |licitacion| %>
    <%= render licitacion %>
    <p>
      <%= link_to "Show this licitacion", licitacion %>
    </p>
  <% end %>
</div>

<%= link_to "New licitacion", new_licitacion_path %>
</div>
